html,
body {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: -99999;
  font-family: 'Nunito', sans-serif;
  background: black;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.background-photo {
  width: 100%;
  position: fixed;
  filter: blur(5px);
}

.header {
  max-width: 675px;
  margin: auto;
  font-size: 42px;
  background-color: #181818;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
}

.main-photo {
  height: 200px;
  border-radius: 150px;
  position: relative;
  margin: 10px auto 0 auto;
  display: flex;
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.about-me-paragraph {
  max-width: 75%;
  min-width: 300px;
  background-color: #181818;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  opacity: 0.8;
}

.about-me-paragraph a {
  color: white;
}

.projects-section {
  max-width: 65%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #181818;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  opacity: 0.8;
}

.project {
  background-size: 100% 100%;
  color: white;
  width: 300px;
  height: 200px;
  margin: 10px auto;
}

.hidden {
  padding: 10px;
  position: absolute;
  width: 280px;
  height: 180px;
  color: black;
  background-color: white;
  display: none;
  border-radius: 15px;
}

.app-title {
  margin: 0 auto;
  font-weight: 700;
  padding-bottom: 10px;
}

.app-description {
  font-size: 14px;
}

.icon-img {
  padding: 0px 10px;
}

.blue-bar {
  background-image: url('images/blue-basement-bar/blue-basement-bar-4.jpeg');
  border-radius: 15px;
}

.dining-table {
  background-image: url('images/gray-maple-dining-table/gray-maple-dining-table-3.jpeg');
  border-radius: 15px;
}

.wine-cabinet {
  background-image: url('images/gray-wine-cabinet/gray-wine-cabinet-3.jpeg');
  border-radius: 15px;
}

.oak-kitchen {
  background-image: url('images/oak-kitchen/qtr-sawn-oak-kitchen-5.jpeg');
  border-radius: 15px;
}

footer {
  max-width: 650px;
  margin: auto;
  width: 100%;
  text-align: center;
}

footer a {
  margin-top: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  position: relative;
}
